@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(../images/Register_Page-bgkopie.jpg);
	background-size: cover;
	display: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	
	
}


input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
	font-size: 1.4em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: white;opacity:0.6;
	height: 70px;
	width: 70%;
	border-radius: 30px;
	font-color: #5A80A7;
	text-align: center;
	
	
}




button {
    background-color: #F27115;
    color: white;
    padding: 0px 0px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.loginbtn {
    text-align: center;
	font-size: 1.7em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: transparent;
	border: 2px solid white;
	height: 70px;
	width: 30%;
	border-radius: 30px;
	
}

.signupbtn {
    text-align: center;
	font-size: 1.5em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #5A80A7;opacity:0.6;
	width: 70%;
	Height: 60px;
	border-radius: 30px;
	
	
}


.cancelbtn {
	text-align: center;
	font-size: 1em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width: 30%;
	height: auto;
	background-color: #5A80A7;
}

.forgotpassbtn {
	text-align: center;
	font-size: 1em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	float: right;
	width: 30%;
	height: auto;
	background-color: #5A80A7;
}



.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}



.container {
    padding: 16px;
	text-align: center;
}

span.psw {
    float: right;
    padding-top: 16px;
	text-decoration: none;
}

span.pswe {
    float: right;
	text-decoration: none;
}

a {
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1em;
	
	
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

p {
	text-decoration: none;
	text-align: center;
	color: #033F75;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1.2em;
	
	
}

p:hover {
	text-decoration: none;
	color: #033F75;
	
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}



.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	text-align: center;
	margin-top: -40px;
		
}
